.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --yellow:hsl(47, 88%, 63%);
    --grey:hsl(0, 0%, 50%);
}
h1,p{
    margin:0;
    padding:0;
}
body{
    font-family: Figtree, sans-serif;
    margin:0;
    padding:0;
    background: var(--yellow);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size:16px;
    line-height: 1.5rem;
}

.card{
    background: white;
    font-size: inherit;
    border:1px solid black;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 1px black;
    min-width: 21em;
    max-width: 21em;
    padding:1rem;
}

.card > img{
    width: 100%;
    border-radius: 1.2rem;
}

.card .category{
    border-radius: 0.5rem;
    padding:0.2rem 0.8rem;
    font-weight: 800;
    width: fit-content;
    background: var(--yellow);
}

.card p{
 color:var(--grey);
 font-size: 1rem;
}

.card .date{
    font-size: 0.9rem;
}
h1{
    font-size: 1.4rem;
}

.author{
    display: flex;
    align-items: center;
    gap:10px;
}

.author img{
    width: 2em;
    height: auto;
}

.author p{
    color:black;
    font-weight: 800;
    font-size: 0.9rem;
}

.card *{
    margin-bottom: 0.5rem;
}